.App {
  text-align: center;
  /*z-index: 1;*/
}

.center{
  display: flex;
  justify-content: center;
}

.particles{
	  position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color: rgb(8, 6, 17);*/
  z-index: 0; 
  /*if change the z-index to 0 we can use the interactivity of particles*/
}

.zndex{

	/*position: absolute;*/
/*	top: 0;
	bottom: 0;
	right: 0;
	left: 0;*/
	z-index: 1;
}