body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
	background: linear-gradient(89deg, #ff53df 0%, #04c8de 100%);
	/*z-index: 1;*/

}

button {
	cursor: pointer;
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
